/.metadata/
/_*/
/web/_*/
/data/
/tomato_data/
/server/temp/
/server/app.xml
.classpath
.project
/.idea/
/.settings/
/.vscode/
/web/opencharts/
/server/tomcat/

*.bat

# Compiled class files
*.class

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.idea
*.iws
*.iml
*.ipr
*.log
*.yml

### VS Code ###
.vscode/
/logs/
