<?xml version="1.0" encoding="utf-8"?>
<iottree debug="false" title="IOTTree Server" copyright="" data_dir="../data/" >

 	<webapps port="9090" ajp_port="" ssl_port="443" base_dir="../web">
 	 	<webapp name="admin" />
		<webapp name="ROOT" />
		<webapp name="doc" />
		<webapp name="_js" />
		<webapp name="_iottree" />
		<webapp name="opencharts" path="../../opencharts" />
	</webapps>
	
	<system>
		<server_comp class="org.iottree.ua.driver.opcua.server.OpcUAServerComp"/>
	</system>
	
	<modbus>
		<slave></slave>
	</modbus>
	
</iottree>
