<?xml version="1.0" encoding="utf-8"?>
<iottree debug="false" title="IOTTree Server" copyright="" data_dir="../data/" >

 	<webapps port="9090" ajp_port="" ssl_port="443" base_dir="../web">
 	 	<webapp name="admin" />
		<webapp name="ROOT" />
		<webapp name="doc" />
		<webapp name="_js" />
		<webapp name="_iottree" />
		<webapp name="opencharts" path="../../opencharts" />
	</webapps>
	
	<system>
		<server_comp0 class="org.iottree.driver.opc.opcua.server.OpcUAServerComp"/>
	</system>
	
	<!-- 
	<plug_auth name="auth_demo" 
			login_url="http://abc.xx.com/login/login.jsp"
			token_cookie_name="token"
			no_read_right_prompt="No read permission"
			no_write_right_prompt="No write permission"
			>
	</plug_auth>
	 -->
	
</iottree>
