.oc-action
{
    cursor: default;
    z-index: 5;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100px;
    background-color: #f9f9f9;
}

.oc-toolbar
{
    cursor: hand;
    z-index: 5;
    position: relative;
    left0: 0px;
    top: 0px;
    width: 100px;
    background-color: #f9f9f9;
}

.oc-toolbar .titlebar {
    padding-right: 20px;
    position: relative;
    height: 24px;
    background: #eee;
    color: #333;
    cursor: default;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 22px;
    padding-left: 5px;
    box-sizing: border-box;
    border-bottom: 1px solid #d1d1d1;
}


.oc-toolbar .btns {
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    padding: 5px;
}
.oc-toolbar .toolbarbutton {
    text-align: center;
    box-sizing: border-box;
    font-size: 25px;
    width: 28px;
    height: 28px;
    padding: 0;
    border: 3px;
    cursor: hand;
    display: inline-block;
    padding-top: 3px;
}

.oc-toolbar .toolbarbtn {
    text-align: center;
    box-sizing: border-box;
    font-size: 23px;
    width: 40px;
    height: 40px;
    padding: 0;
    border: 1px;
    cursor: pointer;
    display: inline-block;
    padding-top: 3px;
}

[class*=" icon-"], [class^=icon-] {
    font-family: icomoon !important;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.oc-dialog
{
    cursor: default;
    z-index: 5;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100px;
    background-color: #f9f9f9;
}

.left {
	position: fixed;
	float: left;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 999;
	width: 45px;
	overflow-x: hidden
}

.right {
	position: fixed;
	float: right;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 999;
	width: 45px;
	height: 100%;
	overflow-x: hidden
}

.mid {
	position: absolute;
	left: 45px;
	right: 45px;
	top: 0;
	bottom: 0;
	z-index: 998;
	width: auto;
	overflow: hidden;
	box-sizing: border-box
}

.layout-body {
	overflow: hidden
}



.oc_edit_item {
	margin-bottom: 5px;
	clear: both;
}

.oc_edit_item label {
	float: left;
	display: block;
	width: 150px;
	font-weight: 400;
	line-height: 20px;
	text-align: right;
}

.oc_edit_item div {
    left:150px;
    align-content: left;
}

.oc_edit_cat
{
    background-color: rgba(169, 169, 169, 0.555);
    float: left;
    width: 100%;

}

.oc_unit_action
{
    background-color: #FFFFFF;
    z-index: 11;
    width: 200px;
    height: 200px;
    position:absolute;
    
    margin:auto;
}

.oc_unit_action .close
{
    text-align: right;
    margin-right: 0px;
}

.oc_menu
{
    background-color: #f2f2f2;
    z-index: 11;
    position:absolute;
    margin:auto;
    box-shadow: 0 1px 1px #888,1px 0 1px #ccc;
}

.oc_menu .menu
{
    width: 160px;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    text-align: left;
}

.oc_menu .menu span
{
    text-align: left;
    left:80px;
}

.oc_menu .menu .icon
{
    width:80px;
    text-align: left;
    
}

.oc_menu .menu:hover{
    background-color: #91c9f7;
}

#popBox .close a
{
    text-decoration: none;
    color: #2D2C3B;
}


.oc_div_list
{
    border-collapse: collapse;
    font-family: Futura, Arial, sans-serif;
    width:99%;
}

.oc_div_list thead
{
    background-color: #f0f0f0;
}

.oc_div_list>th,td {
    text-align: left;
    padding:0px;
    border: 1px solid#777;
}



.oc_div_list tbody tr:hover
{
    background: #0078d7;
}

/*
.oc_div_list tbody tr:nth-child(odd) {
    background: #ccc;
}*/

.prop_edit_panel
{
    width:100%;
    overflow-y: auto;
}

.pi_edit_table
{
width:100%;
border: 0px solid #b4b4b4;
margin: 0 auto;
}


.pi_edit_table tr>td
{
	border: 1px solid #b4b4b4;
	height:100%;
	
	
}

.pi_edit_table .td_left
{
	padding-left: 20px;
}

.pi_edit_table tr>div
{
	border: 0;

}

.pi_sel
{
background-color: #0078d7;
}

.pi_edit_unit
{
border: 0px;
width:100%;
}