@charset "UTF-8";

em{font-style: normal;}
input[type="radio"], input[type="checkbox"]{margin:0;}
input[type="radio"]:focus, input[type="checkbox"]:focus{outline: none;}
label{margin:0;font-weight: normal;}
form{margin:0;}
select, input[type="file"]{line-height: 28px;}
select{width: auto;}
.tooltip{z-index: 9999;}
.alert{margin-bottom:0px;padding:5px 14px;background: #fcfddb;border: 1px solid #f9f2a7;}
.alert-danger, .alert-error{position: relative;margin-bottom:10px;background: #f2dede;border: 1px solid #eed3d7;}
.tab-content{padding-bottom:20px;}
.form-horizontal .control-label, .form-horizontal .controls{height: 30px;line-height: 30px;padding-top:0;}
.badge{padding:2px 6px;margin-left: 5px;background: #ccc;}
.badge.badge-info{background: #499ef3;}
.badge.badge-important{background: #ff3333;}
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td{border-bottom-width:1px;}
.disabled, .disabled a{cursor: default;}

.modal-backdrop, .modal-backdrop.fade.in{filter:alpha(opacity=20);opacity: 0.2; }

.btn:active, .btn.active{box-shadow: none;}
.btn-mini{min-width: 64px;min-width:44px\0;height:24px;padding:0 10px;line-height:24px;font-weight: normal;font-size:12px;}
.btn-normal{min-width:76px;min-width:56px\0;height:34px;padding:0 10px;line-height: 34px;font-size: 14px;}
.btn-large{min-width:120px;min-width:100px\0;height:38px;padding:0 10px;line-height:38px;font-size:14px;}
.close{font-size: 18px;}
.btn-success, .btn-gray.active{border: none !important;background-color: #5bbf5a;color: #fff;}
.btn-success:hover, .btn-gray.active:hover{background-color: #38b836 !important;color: #fff !important;}
.btn-success:active, .btn-success:focus{background-color: #32a831 !important;}
.btn-success.active{background-color: #eee;color: #999;box-shadow: none;}
.btn-success.active:hover{background-color: #e6e6e6 !important;color: #999 !important;}
.btn-success.active:active, .btn-success.active:focus{background-color: #d9d9d9 !important;color: #999;}
.btn-primary{border: none !important;background-color: #59b0ff;}
.btn-primary:hover{background-color: #4daaff;}
.btn-primary:active, .btn-primary:focus{background-color: #1a90ff;}
.btn-gray{border: none !important;background-color: #eee;color: #999;}
.btn-gray:hover{background-color: #e6e6e6;color: #999;}
.btn-gray:active, .btn-gray:focus{background-color: #d9d9d9;}
.btn.follow b{position:relative;top:-1px;font-size: 12px;font-weight: normal;}
.btn.follow em{position:relative;top:-1px;margin:0 3px;font-size: 12px;}
.btn.follow.btn-gray em, .btn.follow.btn-gray.active em, .btn.follow.btn-success.active em{color: #e0e0e0;}
.btn.follow.btn-success em{color: #78c779;}
.form-control{padding: 6px;resize:none;box-shadow: none;border-color: #ccc;}
.form-control:focus{border-color:#499ef3 !important;box-shadow: none;}
.btn-group.open .iot-dropdown, .iot-feed-list .more-operate.open .iot-dropdown, .iot-question-detail .more-operate.open .iot-dropdown, .iot-article-list .iot-item .mod-footer .more-operate.open .iot-dropdown{display: block;}

html{height: 100%;}
body{margin: 0;height: 100%;font-size:14px; line-height:160%;color: #444;background:url('img/bg.gif') repeat;}
body, input, button, select, textarea, h1, h2, h3, h4, h5, h6{font-family:'Helvetica Neue', 'STHeiti', '微软雅黑', 'Microsoft YaHei', Helvetica,Arial,sans-serif;}
ul, ol{margin:0;padding:0;list-style:none;}
h1, h2, h3, h4, h5, h6{margin-top:0;font-size:100%;line-height: 1.7;}
dd{margin-left: 10px;}
a{cursor: pointer;color: #155faa;}
a:hover{text-decoration: none;color: #499ef3;}
a:focus{outline: none !important;}
table td{vertical-align: middle !important;}
.container{width: 1010px !important;}
.iot-wecenter{margin:0 auto;}/*兼容2.5*/
.iot-padding10{padding:10px;}
.iot-content-wrap{margin:0 15px;background-color: #fff;border:1px solid #e6e6e6;border-radius:4px;}
.iot-main-content{padding:0 0 20px;}
.iot-side-bar{margin-left:-1px;padding:20px;border-left: 1px solid #e6e6e6;}
.iot-mod .mod-head h4, .iot-mod .mod-head h4 a{font-size:14px;}
.iot-back-top{position:fixed;display:none;padding:0 5px;right:20px;bottom:20px;background-color: #d9d9d9;border-radius: 3px;}
.iot-back-top .icon-up{display:block;padding:10px;color: #a6a6a6;font-size: 20px;}
.iot-back-top:hover{background-color: #d0d0d0;}
.iot-text-align-justify{text-align: justify;}
.text-color-999{font-size: 12px;color: #999;}
.font-size-12{font-size: 12px;}
.iot-hide-txt{overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.iot-placeholder{color: #999 !important;}
.iot-dropdown-menu li:first-child, .dropdown-menu li.first, .iot-comment-list li:first-child, .iot-edit-comment-box .iot-file-upload-box, .iot-li-border-bottom li:first-child{border-top:none;}
.iot-dropdown-list li.user a img, .iot-question-tags, .iot-mod.topic-nav ul > li > p a, .iot-mod.topic-nav ul > li > a, .iot-border-radius-5, .iot-border-radius-5 img, .iot-load-more-content, .iot-user-name img, .iot-topic-name img, .iot-topic-name span, .iot-topic-img img, .iot-dropdown-menu img, .iot-login-register a img, .iot-login-register .iot-user-head img, .iot-dropdown, .category dl dt img, .category .span12 > ul > li, .iot-mod.side-nav ul li a, .topic-edit-notes li, .iot-notopic-sort, .iot-comment-box, .iot-topic-detail-title .mod-body img, .iot-topic-search, .iot-mod-topic-edit-box .mod-head .img, .iot-inbox-read .mod-footer li .iot-item, .iot-inbox .mod-footer li .iot-user-img img, .iot-invite-list ul li img, .iot-mod-search-result .iot-item .iot-user-img img, .iot-mod-search-result .iot-item .iot-topic-img img, .iot-mod-search-result .iot-search-result-tags, .iot-file-uploader dl, .iot-card-tips, .iot-card-tips .mod-head .img img, .iot-first-login .iot-complete-data .side-bar img, .iot-first-login .iot-first-login-suggest-list .iot-topic-img img, .iot-first-login .iot-first-login-suggest-list .img img, .iot-first-login .iot-first-login-suggest-list li > span, .iot-replay-box .mod-body, .iot-publish-box .iot-publish-title .dropdown .dropdown-toggle, .markitup-box code, #markItUpPreviewFrames code, .iot-publish-title.active input, #aw-loading, .iot-user-nav > a img{border-radius: 4px;}
.category dl, .iot-mod.new-announce{border-radius: 10px;}
.iot-publish-title .dropdown .dropdown-toggle, .iot-publish-title .dropdown .dropdown-toggle a{border-radius: 0 5px 5px 0;}
.iot-nav-main li:first-child a.active{border-radius:10px 0 0 0;}
.iot-close{font-size: 16px;}
.inline-block{display: inline-block;}
.iot-global-tips{margin-bottom: 30px;}
.autosize{max-height: 800px;overflow-y:scroll !important;}

.iot-user-name, .iot-topic-name{font-size:12px;line-height:20px;font-weight:normal;}
.iot-user-name img, .iot-topic-name img{width: 40px;height: 40px;}
.iot-topic-bar{margin:20px 20px 0;}
.iot-topic-bar .close{display: none;}
.iot-topic-bar.active .topic-tag .text{border-radius: 4px 0 0 4px;}
.iot-topic-bar.active .topic-tag .close{display: inline-block;}
.iot-topic-bar .topic-tag{float: left;margin:0 10px 10px 0;}
.topic-tag a{float: left;}
.topic-tag .text{display:inline-block;height:20px;line-height:16px;padding:2px 5px;background-color:#99cfff;font-size:12px;color: #fff;border-radius: 4px;}
.topic-tag .text:hover, .topic-tag .text:active, .topic-tag .close:hover, .topic-tag .close:active{background-color: #339dff;}
.topic-tag .close{width: 20px;height: 20px;background-color: #66b7ff;text-align: center;line-height:20px;color: #fff;font-size: 10px;opacity: 1;filter:alpha(opacity=100);border-radius: 0 4px 4px 0;}

.iot-nav-tabs{position:relative;z-index:1;height:63px;margin:0;padding: 30px 20px 0;border-color: #e6e6e6;background-color:#fff;}
.iot-nav-tabs.active > li{float: right;}
.iot-nav-tabs > li{margin:0 4px 0 0;font-size: 14px;}
.iot-nav-tabs > li > a{line-height:30px;padding:0 13px;background-color: #fff;border: none;cursor: pointer;}
.iot-nav-tabs > li > a:hover{border:none;border-bottom:2px solid #155faa;background-color: #fff;color: #333;}
.iot-nav-tabs > li.active a{line-height:30px;background-color: #fff;border:none;border-bottom:2px solid #155faa;font-weight: bold;color: #333;}
.iot-nav-tabs > li.active a:hover, .iot-nav-tabs > li.active a:focus, .iot-nav-tabs > li > a:focus{border:none;border-bottom:2px solid #155faa;background-color: #fff;}
.iot-nav-tabs h2{position:absolute;top:16px;left:20px;margin:0;font-size:20px;}

.iot-tabs{height:38px;line-height:38px;padding:0 20px;border-bottom: 1px solid #e6e6e6;text-align: center;}
.iot-tabs li.active a{color: #333;font-weight: bold;}
.iot-tabs ul li{display:inline;}
.iot-tabs ul li a{margin:0 10px;}

#aw-loading{position:fixed;top:50%;left:50%;background:#000;width: 40px;height: 40px;margin: 0 0 0 -20px;z-index: 10001;opacity: 0.75;filter: alpha(opacity=75);}
#aw-loading-box{width:40px;height:40px;background-image: url('../../common/loading.png');}
.iot-loading{display:inline-block;height:16px;width:16px;background:url("img/ajax-loader.gif") no-repeat;}
#aw-loading-mini-box{width: 16px;height: 16px;margin:0 auto;background-image: url('../../common/loading-mini.png');}

.iot-dropdown{display:none;position:absolute;left:0;top:105%;z-index:9999;width:100%;min-width:110px;background: #fff;border:1px solid #ccc;box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);}
.iot-dropdown.pull-right{left: auto;right: 0;}
.iot-dropdown p{padding:5px 10px;margin:0;}
.iot-dropdown .iot-dropdown-list li{position:relative;height:42px;line-height:42px;padding:0 10px !important;border-top: 1px solid #f0f0f0;cursor: pointer;text-align: left;font-size: 14px;}
.iot-dropdown .iot-dropdown-list li:first-child{border-top: none;}
.iot-dropdown .iot-dropdown-list li:hover, .iot-dropdown .iot-dropdown-list li.active{background-color: #f0f0f0;}
.iot-dropdown .iot-dropdown-list li a{display:block;color: #666;}
.iot-dropdown .iot-dropdown-list li.topic a{display: inline;}
.iot-dropdown .iot-dropdown-list li.topic .topic-tag a{margin-top: 10px;color: #fff;}
.iot-dropdown .iot-dropdown-list li.question b{line-height: 30px;}
.iot-dropdown .iot-dropdown-list li.question .icon-bestbg{display: none;margin:15px 5px 0 0;color: #69b5ff;}
.iot-dropdown .iot-dropdown-list li.question.active{background-color: #fff;}
.iot-dropdown .iot-dropdown-list li.question.active .icon-bestbg{display: inline-block;}
.iot-dropdown .iot-dropdown-list li.user a img{width: 24px;height: 24px;margin-right: 5px;}
.iot-dropdown .iot-dropdown-list li.user a span{display:inline-block;max-width:180px;margin-left:10px;color: #999;vertical-align: top;}
.iot-question-redirect-box .iot-dropdown .iot-dropdown-list{max-height: 336px;overflow-y:auto;}
.iot-publish-title .iot-dropdown .iot-dropdown-list{max-height: 210px;overflow-y:auto;}
.iot-edit-topic-box .iot-dropdown .iot-dropdown-list{max-height: 296px;overflow-y: auto;}

.iot-dropdown.shareout{top: 100%;width: 130px;}
.iot-dropdown.shareout i{width: 24px;height: 24px;display:inline-block;font-size: 16px;color: #fff !important;text-align: center;line-height: 24px;border-radius: 4px;}
.iot-dropdown.shareout i.icon-weibo{background-color: #ff6161;}
.iot-dropdown.shareout i.icon-qzone{background-color: #ffc333;}
.iot-dropdown.shareout i.icon-wechat{background-color: #73db42;}

.iot-editor-dropdown li a{white-space:nowrap;overflow: hidden;}
.iot-editor-dropdown img{margin-right: 5px;}

.page-control{text-align: center;}
.pagination{margin:20px 0 0;}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{background-color: #499ef3;color: #fff;border-color: #499ef3;}
.pagination > li > a, .pagination > li > span{background-color: #fafafa;color: #999;border-color: #e6e6e6;}

.icon-tips{display:block;width: 6px;height: 6px;border-radius: 6px;background-color: #ff5428;}
.icon-inverse{display:inline-block;height: 20px;padding:0 5px;line-height:20px;background-color: #ccc;color: #fff;text-align: center;border-radius: 4px;font-size: 12px;}
.icon-inverse i{top:0 !important;margin:0;color: #fff;font-size: 12px !important;}
.icon-inverse.follow{background-color: #f5f5f5;color: #b3b3b3;}
.icon-inverse.follow:hover{color: #499ef3;}
.icon-inverse.follow.active:before{content: "\e636";color: #58b957;}
.icon-wechat, .icon-phone, .icon-reply, .icon-prestige, .icon-score, .icon-agree, .icon-comment, .icon-share, .icon-edit, .icon-invite, .icon-report, .icon-fold, .icon-best, .icon-favor, .icon-thank, .icon-cog, .icon-off, .icon-down, .icon-mobile-phone, .icon-envelope, .icon-check, .icon-attach{margin-right: 2px;color: #999;font-size: 16px;}
.icon-v{color: #a3d700;font-size: 16px;}
.icon-v.i-ve{color: #ffca3f;}
.icon-down.active:before{content:"\e634";}
.icon-add-alt{font-size: 18px;margin-right: 10px;}
.i-private-replay-triangle{width: 8px;height: 10px;background: url('img/icon-angle-right.png') no-repeat;}
.iot-table th{background-color: #fafafa !important;border-bottom: none !important;}


.iot-top-menu-wrap{position:relative;z-index:1001;width:100%;min-height:50px;background-color:#499ef3;}
.iot-container-wrap{margin-top: 30px;}
.iot-logo, .iot-search-box, .iot-top-nav{position:relative;float: left;}
.iot-publish-btn, .iot-user-nav, .iot-top-notification{position:relative;float: right;margin:10px 0 10px 10px;}
.iot-logo{width:90px;height:40px;margin:7px 0 0 0;}
.iot-logo a{display:block;width: 250px;height: 40px;}
.iot-logo h1{height:25px;line-height:25px;margin:-2px 0 2px 0;font-size:14px;}
.iot-publish-btn{width:80px;}
.iot-publish-btn a{display:block;width:80px;height: 32px;line-height: 32px;font-size: 14px;text-align: center;border-radius: 3px;}
.iot-publish-btn i{vertical-align:-2px;margin-right: 10px;font-size: 16px;}
.iot-publish-btn:hover #header_publish{border-radius: 4px 4px 0 0;}
.iot-publish-btn:hover .dropdown-list{display: block;}
.iot-publish-btn .dropdown-list{position: absolute;display: none;}
.iot-publish-btn .dropdown-list a{background-color: #4dabff;border-radius: 0;color: #fff;}
.iot-publish-btn .dropdown-list a:hover{background-color: #339dff;}
.iot-publish-btn .dropdown-list ul li:last-child a{border-radius: 0 0 4px 4px;}
.iot-top-nav{margin:0;border: none;}
.iot-top-nav .icon-bar{background-color: #fff;font-size: 0;}
.iot-top-nav > nav > ul > li > a{padding:16px;color: #fff;}
.iot-top-nav > nav > ul > li > a.active{background: #4dabff;font-weight: bold;}
.iot-top-nav > nav > ul > li > a:hover, .iot-top-nav > nav > ul > li > a:focus{background: #4dabff;}
.iot-top-nav > nav > ul > li > a i{position:relative;top:2px;font-size: 16px;}
.iot-top-nav > nav > ul > li > a i.icon-home{top: 1px;}
.iot-top-nav > nav > ul > li:hover .dropdown-list{display: block;}
.iot-top-nav > nav > ul > li .dropdown-list{display:none;position: absolute;right:0;width:80px;}
.iot-top-nav > nav > ul > li .dropdown-list ul li a{display:block;height: 42px;line-height: 42px;padding:0 10px;background: #4dabff;text-align: center;color: #fff;}
.iot-top-nav > nav > ul > li .dropdown-list ul li a:hover{background: #339dff;}
.iot-top-nav > nav > ul > li .dropdown-list ul li i{margin-right: 3px;vertical-align: -1px;font-size: 16px;}
.iot-top-nav > nav > ul > li .dropdown-list ul li:last-child a{border-radius: 0 0 4px 4px;}
.iot-top-nav .badge{position: absolute;top: 4px;right: 2px;}
.iot-top-nav ul li:hover .iot-dropdown{display: block;}
.iot-top-nav .iot-dropdown{display:none;top:100%;min-width:300px;border-top: none;border-radius: 0 0 4px 4px;}
.iot-top-nav .iot-dropdown .more{font-size: 12px;}
.iot-top-nav .iot-dropdown .close{display: none;}
.iot-top-nav .iot-dropdown ul li{padding:5px 10px;border-top:1px solid #f5f5f5;}
.iot-top-nav .iot-dropdown ul li:first-child{border-top: none;}
.iot-top-nav .iot-dropdown ul li:hover{background: #f5faff;}
.iot-top-nav .iot-dropdown ul li:hover .read{display: inline-block;}
.iot-top-nav .iot-dropdown ul li p{margin: 0;padding:0;}
.iot-top-nav .iot-dropdown ul li .message{display:inline-block;width: 260px;font-size: 12px;}
.iot-top-nav .iot-dropdown ul li .read{display: none;}
.iot-top-nav .iot-dropdown ul li:last-child{border-radius: 0 0 4px 4px;}
.iot-top-nav .iot-dropdown .mod-footer a{display: block;height:40px;text-align: center;background-color: #fafafa;color: #999999;font-size: 12px;line-height:40px;border-radius: 0 0 4px 4px;border-top: 1px solid #f5f5f5;}
.iot-user-nav{margin:0;}
.iot-user-nav:hover .dropdown-list{display: block;}
.iot-user-nav img{width: 32px;height: 32px;}
.iot-user-nav .login{margin-right: 10px;}
.iot-user-nav .iot-user-nav-dropdown{display:block;height: 42px;margin-top:10px;}
.iot-user-nav .iot-user-nav-dropdown .badge{position: absolute;top: -8px;right: -8px;}
.iot-user-nav .dropdown-list{top:100%;width:122px;border-top:none;border-radius: 0 0 4px 4px;}
.iot-user-nav .dropdown-list ul li a i{vertical-align:-2px;margin-right: 5px;font-size: 16px;}
.iot-search-box{margin:10px 0;}
.iot-search-box input{width: 230px;height: 32px;padding-right:30px;border:none;}
.iot-search-box #global_search_btns{position: absolute;right: 5px;top: 6px;font-size: 18px;color: #999;}
.iot-search-box .iot-dropdown{width: 355px;}
.iot-search-box .iot-dropdown p{height: 38px;line-height: 38px;margin:0;padding:0 10px;font-weight: normal;border-bottom: 1px solid #f0f0f0;}
.iot-search-box .iot-dropdown p.search{display: none;}
.iot-search-box .iot-dropdown .mod-footer{height: 42px;line-height: 42px;background-color: #fafafa;}
.iot-search-box .iot-dropdown .mod-footer .btn-success{margin:10px;}
.iot-search-box .iot-dropdown .iot-dropdown-list{max-height: 337px;overflow-y: scroll;border-bottom: 1px solid #f0f0f0;}
.iot-search-box .iot-dropdown .iot-dropdown-list li.question .iot-hide-txt{width: 250px;}

.iot-explore-list{padding:0 20px;}

.common-head{padding:0 20px;border-bottom: 1px solid #e6e6e6;}
.common-head h2{height:60px;line-height:60px;margin:0;font-size: 20px;color: #333;}
.common-head h2 > i{margin-right: 10px;}
.common-head .btn.pull-right{margin:18px 0 0 10px;}
.common-head span{font-size: 12px;}
.common-head span .btn{margin-left: 10px;}
.common-head .badge{vertical-align: 3px;}

.iot-side-bar .iot-mod{padding:20px 0;border-top: 1px solid #e2e2e2;}
.iot-side-bar .iot-mod:first-child{padding-top:0px;border-top: none;}
.iot-side-bar .iot-mod .mod-head{padding-bottom:5px;}
.iot-side-bar .iot-mod .mod-head a{font-size: 12px;}
.iot-side-bar .iot-mod dl{height:auto;overflow:hidden;margin:10px 0;}
.iot-side-bar .iot-mod h3{margin-bottom:0;}
.iot-side-bar .iot-mod dt, .iot-side-bar .iot-mod dt img{width:32px;height:32px;}
.iot-side-bar .iot-mod dd{width:160px;font-size:12px;}
.iot-side-bar .iot-mod p{margin-bottom:0;}
.iot-side-bar .iot-mod p.signature{max-height: 34px;overflow: hidden;color: #666;}
.iot-side-bar .iot-mod ul li{padding:3px 0;}
.iot-mod.user-detail{padding-bottom: 10px;}
.iot-mod.user-detail .iot-topic-bar{margin:0;}
.iot-mod.new-announce{margin-bottom:20px;padding:10px;background: #FCFDDB;border: 1px solid #F9F2A7 !important;}
.iot-mod.new-announce .mod-head h3{margin:0;}

.iot-mod.side-nav ul li a{display: block;padding-left:10px;line-height: 30px;color: #666;font-size: 14px;}
.iot-mod.side-nav ul li a:hover{background-color:#f5f5f5;}
.iot-mod.side-nav ul li a.active{background-color:#499ef3;color: #fff;}
.iot-mod.side-nav ul li a .badge{background-color: #ccc;}
.iot-mod.side-nav ul li a.active .badge{background-color: #fff;color: #499ef3;}
.iot-mod.side-nav ul li a.active i{color: #fff;}
.iot-mod.side-nav i{margin-right:10px;color: #999;font-size: 16px;vertical-align:-1px;}

.iot-mod.question-status a img, .iot-mod.topic-status a img{width:24px;height:24px;margin-bottom:5px;}

.iot-mod.topic-about .iot-topic-bar{margin:0;}
.iot-mod.topic-about .iot-topic-name{display: inline-block;margin:0 4px 8px 0;}
.iot-mod.topic-about .iot-edit-topic-box .iot-dropdown{top: 38px;}
.iot-mod.topic-about .iot-edit-topic-box input{width: 100% !important;}


/* 问题详情页 */
.iot-notopic-sort{margin:20px 20px 0;padding:5px 10px;background-color: #fafafa;font-size: 12px;}
.iot-notopic-sort .topic-tag .text{margin:0 3px;}
.iot-topic-bar .iot-notopic-sort{margin:0;}
.iot-question-detail{margin-bottom:30px;padding:10px 20px 0;}
.iot-question-detail > .mod-head{position: relative;border-bottom:1px solid #e6e6e6;}
.iot-question-detail .mod-head h1{max-width:500px;margin:0;font-size:20px;line-height: 30px;}
.iot-question-detail .mod-head .operate{position: absolute;right: 0;top: 0;}
.iot-question-detail .mod-head .operate > a{margin:0 5px 0 0;}
.iot-question-detail .mod-head .operate .btn-group .btn{width:46px;height:34px;line-height: 20px;padding:0;font-size: 26px;box-shadow: none;}
.iot-question-detail .mod-head .operate .btn-group.open .btn{background-color:#499ef3;color: #fff;}
.iot-question-detail .mod-head .operate .btn-group .icon-cog{margin-right: 0px;color: #666;}
.iot-question-detail .mod-head .operate .iot-dropdown {min-width: 120px;}
.iot-question-detail .mod-head .operate .dropdown-menu ul li{padding:5px 10px;}
.iot-question-detail .mod-head .operate .dropdown-menu ul li a{display: block;}
.iot-question-detail .mod-body:hover .more-operate{display: block;}
.iot-question-detail .mod-footer{padding: 10px 0; border-top: 1px solid #e6e6e6;}
.iot-question-detail .content{padding:10px 0;}
.iot-question-detail .meta{min-height: 20px;line-height: 20px;font-size: 12px;}
.iot-question-detail .meta > span, .iot-question-detail .meta > a, .iot-question-detail .meta > div{margin-right:15px;}
.iot-question-detail .meta .badge-info{margin:0;}
.iot-question-detail .more-operate{position:relative;margin:0 !important;}
.iot-question-detail .more-operate > a, .iot-question-detail .more-operate em{margin-left: 15px;}
.iot-question-detail .iot-edit-topic-box .iot-dropdown{width: 418px;}


/* 话题分类 */
.iot-topic-category{padding:0 20px;border-bottom: 1px solid #e6e6e6;}
.iot-topic-category ul{margin-top: 14px;}
.iot-topic-category ul li{float: left;margin:0 14px 14px 0;}
.iot-topic-category ul li a{display: block;padding:3px 5px;border: 1px solid #e6e6e6;border-radius: 4px;color: #666;}
.iot-topic-category ul li a:hover, .iot-topic-category ul li a.active{background-color: #99cfff;color: #fff;border-color: #99cfff;}

/* 热门话题列表 */
.iot-topic-list .mod-head{margin-bottom: 20px;}
.iot-topic-list .mod-head h2{font-size: 20px;}
.iot-topic-list .mod-body, .iot-topic-list .mod-footer{padding: 0 20px;}
.iot-topic-list .iot-item{position:relative;float:left;width:50%;min-height:90px;padding:20px 5px 20px 65px;border-bottom:1px solid #f5f5f5;}
.iot-topic-list .iot-item .img{position: absolute;left: 5px;top: 20px;}
.iot-topic-list .iot-item p + p{margin:5px 0 0;}
.iot-topic-list .iot-item:last-child{border-bottom: 1px solid #f5f5f5;}
.iot-topic-list .iot-notopic-sort{margin-top: 14px;}

/* 话题侧边栏导航 */
.iot-mod.topic-nav{border-bottom: none !important;}
.iot-mod.topic-nav ul li a{display:block;padding:5px 0 5px 10px;color: #666;font-size: 14px;}
.iot-mod.topic-nav ul li a:hover, .iot-mod.topic-nav ul li a.active{background: #2b77a8;color: #fff;}
.iot-mod.topic-nav ul li a:hover i, .iot-mod.topic-nav ul li a.active i{color: #fff;}

/* 底部版权 */
.iot-footer{padding:30px 0 10px;font-size: 12px;text-align: center;}

